.card {
  position: relative;
  height: 416px;
  width: 270px;
  margin-right: 1rem;
  // background-image: linear-gradient(
  //     0.12deg,
  //     #000000 0.1%,
  //     rgba(0, 0, 0, 0) 69.96%
  //   ),
  //   url("../../assets/Image/Rectangle\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
    border: 1px solid;
  }
  // &:focus {
  //   border: 1px solid red;
  // }
  // &:active {
  //   border: 1px solid red;
  // }

  h6 {
    position: absolute;

    left: 16px;
    top: 350px;
    font-size: 3rem;
    color: #ffffff;
    font-family: Bebas Neue;
  }
}

.on_click_border {
  border: 5px solid red;
}
