.signin {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  &_form {
    position: absolute;
    width: 47rem;
    height: 40rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ababab;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
